&sdl_dc {
    height = <800>;
    width = <480>;
};

/ {
    ramdisk0: ramdisk {
        compatible = "zephyr,ram-disk";
        disk-name = "RAM";
        sector-size = <512>;
        sector-count = <4096>;
    };
};