&sdl_dc {
    height = <800>;
    width = <480>;
};

&storage_partition {
	reg = <0x000fc000 DT_SIZE_M(1)>;
};

/ {
	disk0 {
		status = "okay";
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "SD";
		cache-size = <4096>;
	};
};
